---
http_interactions:
- request:
    method: get
    uri: https://services.expediapartnercentral.com/products/properties/16636843/roomTypes/201788359/rateThresholds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic RVFDMTY2MzY4NDNob3RlbDpCdG02bm9FISZaQz1US2FV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.expedia.eps.product-v2+json;charset=UTF-8
      Transaction-Id:
      - e42d2a20-9623-4367-94a4-f17395519664
      X-Application-Context:
      - EPS-Product:prod:8443
    body:
      encoding: UTF-8
      string: '{"entity":{"type":"SellLAR","minAmount":10.8184,"maxAmount":540.9212,"source":"RecentBookings","_links":{"self":{"href":"https://services.expediapartnercentral.com/properties/16636843/roomTypes/201788359/rateThresholds"}}}}'
  recorded_at: Mon, 11 Sep 2017 05:49:55 GMT
recorded_with: VCR 3.0.3
