---
http_interactions:
- request:
    method: get
    uri: https://services.expediapartnercentral.com/products/properties/16636843/roomTypes/201788359/ratePlans/209102875
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic RVFDMTY2MzY4NDNob3RlbDpCdG02bm9FISZaQz1US2FV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.expedia.eps.product-v2+json;charset=UTF-8
      Transaction-Id:
      - d63420f6-5398-4d53-a7b9-618948930b05
      X-Application-Context:
      - EPS-Product:prod:8443
    body:
      encoding: UTF-8
      string: '{"entity":{"resourceId":209102875,"name":"RoomOnly","rateAcquisitionType":"SellLAR","distributionRules":[{"expediaId":"209102875","partnerCode":"RoomOnly","distributionModel":"ExpediaCollect","manageable":false,"compensation":{"percent":0.2,"minAmount":0.0}},{"expediaId":"209102875A","partnerCode":"RoomOnly","distributionModel":"HotelCollect","manageable":true,"compensation":{"percent":0.2}}],"status":"Active","type":"Standalone","pricingModel":"PerDayPricing","occupantsForBaseRate":2,"taxInclusive":false,"depositRequired":false,"creationDateTime":"2016-11-24T21:28:13Z","lastUpdateDateTime":"2016-11-24T21:28:13Z","cancelPolicy":{"defaultPenalties":[{"deadline":0,"perStayFee":"None","amount":0.0}]},"additionalGuestAmounts":[{"dateStart":"2016-11-24","dateEnd":"2079-06-06","ageCategory":"Adult","amount":0.0}],"minLOSDefault":1,"maxLOSDefault":28,"minAdvBookDays":0,"maxAdvBookDays":500,"bookDateStart":"1900-01-01","bookDateEnd":"2079-06-06","travelDateStart":"1901-01-01","travelDateEnd":"2079-06-06","mobileOnly":false,"_links":{"self":{"href":"https://services.expediapartnercentral.com/properties/16636843/roomTypes/201788359/ratePlans/209102875"}}}}'
  recorded_at: Tue, 12 Sep 2017 10:41:19 GMT
recorded_with: VCR 3.0.3
